<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">

    <p @click="change">{{num}}</p>
    <p>十位：{{parseInt(num/10)}}</p>
    <p>个位：{{num%10}}</p>
    <hr>
<!--    十位：<input type="text" v-model="s">-->
<!--    个位：<input type="text" v-model="g">-->
    <hr>

    十位：<input type="number" max=9 min=0 v-model="s">
    个位：<input type="number" max=9 min=0 v-model="g">

    <hr>
    结果：<p>{{s*10 + +g}}</p>
    结果：<p>{{result}}</p>



</div>
<script src="js/vue.min.js"></script>
<script>
    new Vue({
        el:"#app",
        data:{
            num: 99,
            s: '',
            g: '',

        },
        methods:{
            change (){
                this.num -= 3;
            }
        },
        computed:{
            result(){
                return this.s*10+ +this.g
            }
        }
    })
</script>
</body>
</html>